.logo{
    width: 40px;
    
}
.logo-text{
    height: 40px;
    margin-left: 10px;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    
    
    
    
}

.left-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    
    
}

.title{
    font-weight: bold;
    font-size: 32px;
}

.sign-button{
    border: 2px solid ;
    padding: 8px 20px;
    border-radius: 6px;
    font-size: 1em;
    font-weight: bold;
    transition: all 110ms;
}

.sign-button:hover{
    box-shadow: 0 1px 5px var(--black-shadow);
    border-radius: 20px;
    
}